@model UpdateSubHeaderDto
@{
    ViewData["Title"] = "Üst Bilgi Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-fpr="Id"/>
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control" />
    <span asp-validation-for="Address"></span>
    <br />
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <label>Facebook</label>
    <input type="text" asp-for="Facebook" class="form-control" />
    <span asp-validation-for="Facebook"></span>
    <br />
    <label>Twitter</label>
    <input type="text" asp-for="Twitter" class="form-control" />
    <span asp-validation-for="Twitter"></span>
    <br />
    <label>Linkedin</label>
    <input type="text" asp-for="Linkedin" class="form-control" />
    <span asp-validation-for="Linkedin"></span>
    <br />
    <label>Instagram</label>
    <input type="text" asp-for="Instagram" class="form-control" />
    <span asp-validation-for="Instagram"></span>
   
    <br />
    <button class="btn btn-outline-dark">Güncelle</button>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
