@model CreateVideoDto
@{
    ViewData["Title"] = "Yeni Video Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Video Url</label>
    <input type="text" asp-for="VideoUrl" class="form-control" />
    <span asp-validation-for="VideoUrl"></span>
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}