@model CreateProductDto
@{
    ViewData["Title"] = "Yeni Mülk Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title"></span>
    <br />
    <label>Kategori</label>
    <select asp-for="Category" class="form-control">
        <option value="">Kategoriyi Seçin</option>
        <option value="Modern">Modern</option>
        <option value="Çatı Katı">Çatı Katı</option>
        <option value="Lüks">Lüks</option>
        <option value="Ahşap">Ahşap</option>
    </select>
    <span asp-validation-for="Category"></span>
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <span asp-validation-for="Price"></span>
    <br />
    <label>Oda Sayısı</label>
    <input type="text" asp-for="BedroomCount" class="form-control" />
    <span asp-validation-for="BedroomCount"></span>
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="BathroomCount" class="form-control" />
    <span asp-validation-for="BathroomCount"></span>
    <br />
    <label>Metrekare Bilgisi</label>
    <input type="text" asp-for="Area" class="form-control" />
    <span asp-validation-for="Area"></span>
    <br />
    <label>Kaçıncı Kat</label>
    <input type="text" asp-for="Floor" class="form-control" />
    <span asp-validation-for="Floor"></span>
    <br />
    <label>Park Alanı Sayısı</label>
    <input type="text" asp-for="ParkingCount" class="form-control" />
    <span asp-validation-for="ParkingCount"></span>
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}