@model CreateDealDto
@{
    ViewData["Title"] = "Yeni Teklif Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>İlan Türü</label>
    <input type="text" asp-for="Type" class="form-control" />
    <span asp-validation-for="Type"></span>
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title"></span>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description"></span>
    <br />
    <label>Metrekare</label>
    <input type="text" asp-for="Square" class="form-control" />
    <span asp-validation-for="Square"></span>
    <br />
    <label>Kaçıncı Kat</label>
    <input type="text" asp-for="Floor" class="form-control" />
    <span asp-validation-for="Floor"></span>
    <br />
    <label>Oda sayısı</label>
    <input type="text" asp-for="RoomCount" class="form-control" />
    <span asp-validation-for="RoomCount"></span>
    <br />
    <label>Ödeme Türü</label>
    <input type="text" asp-for="PaymentType" class="form-control" />
    <span asp-validation-for="PaymentType"></span>
    <br />
    <label>Park Alanı</label>
    <select asp-for="HasParkingArea" class="form-control">
        <option value="">Seçiminizi Yapın</option>
        <option value="true">Var</option>
        <option value="false">Yok</option>
    </select>
    <span asp-validation-for="HasParkingArea"></span>
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}